<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class = "pannel pannel-default">
    <div class= "pannel-body">
      <div class= "row">
        <div class="col-md-5">
          <%= image_tag @movie.image.url(:medium) %>
          <div class="table-resposible">
            <table class = " table" >
              <tbody>
                <tr>
                  <td><strong>Title: <%= @movie.title %></strong></td>
                </tr>
                <tr>
                  <td><strong>Description:</strong>
                      <%= @movie.description %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Movie length:</strong>
                    <%= @movie.movie_length %>
                  </td>
                </tr>
                <tr>
                  <td>
                     <strong>Director:</strong>
                      <%= @movie.director %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Rating:</strong>
                    <%= @movie.rating %>
                  </td>
                </tr>
              </tbody>
            </table>
            <%= link_to "write a movie review",  new_movie_review_path(@movie.id) %>
          </div>
        </div>
        <div class = "col-md-7 col-md-offset-1">
          <h1><strong>Movie: </strong><%= @movie.title %></h1>
          <p><%=@movie.description %></p>
          <% if @reviews.blank? %>
            <p>No reviews yet, Be the first one to give review</p>
            <%= link_to "add review", new_movie_review_path(@movie), class: "btn btn-danger" %> 
          <% else %>
            <% @reviews.each do |review| %>
              <div class= "reviews">
                <p><%= review.rating %></p>
                <p><%= review.comment %></p>
                <%= link_to "edit_comment", edit_movie_review_path(review.movie_id,review.id) %>|
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
